html,body {
	background: #6824C6;
	font-family: 'Amatic SC', sans-serif;
	color: #FFFFAD;
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	margin: 0;
}
ul li {
	display: inline;
}
img {
	border: none;
}
#container {
	margin: 0 auto;
	padding: 20px;
	font-size: 40px;
	text-align: center;
}
#container p {
	margin: 0 auto;
	padding: 20px;
	font-size: 30px;
	text-align: center;
}
#random_cat {
	font-size: 20px;
}